@import './styles/_variables.css';
@import './styles/_base.css';
@import './styles/_header.css';
@import './styles/_hero.css';
@import './styles/_buttons.css';
@import './styles/_sections.css';
@import './styles/_trust-row.css';
@import './styles/_features.css';
@import './styles/_how-it-works.css';
@import './styles/_install.css';
@import './styles/_compatibility.css';
@import './styles/_faq.css';
@import './styles/_advanced.css';
@import './styles/_hash-section.css';
@import './styles/_footer.css';
@import './styles/_toast.css';
@import './styles/_responsive.css';
@import './styles/_ads.css';
